/* font-family: 'Quicksand', sans-serif; */

header {
  background-color: #01785b;
}

footer {
  background-color: #01785b;
  color: #f1faee;
  bottom: 0;
  text-align: center;
  padding-top: 25px;
  font-size: 12px;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  position: relative;
}

.results-section {
  background-color: #f1faee;
}
h4,
.card {
  border-radius: 4px;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.input-area,
.nearme-btn,
.state-btn,
.brand-btn {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 4px;
}

.nearme-btn,
.state-btn {
  margin-left: 16px;
  background-color: #00a896;
  color: #f1faee;
}
.brand-btn {
  background-color: #00a896;
  color: #f1faee;
}
.brand-btn:hover,
.nearme-btn:hover,
.state-btn:hover {
  background-color: #02c39a;
  color: #f1faee;
  border-color: black;
}

.brand-btn:focus,
.nearme-btn:focus,
.state-btn:focus {
  background-color: #02c39a;
}

i {
  font-size: 14px;
}
