/* font-family: 'Quicksand', sans-serif; */

#header-image {
  background-size: cover;
}

.bg {
  background-color: cornsilk;
}
.empty {
  height: 10px;
  background-color: #ece4b3ec;
}

.state-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.grid-container,
h4,
h5,
h6 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.card {
  max-width: 250px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-divider {
  background-color: ;
}

ul,
.top-bar {
  background-color: #ece4b3ec !important;
}

.input-area,
.nearmeBtn,
.stateBtn,
.brandBtn {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 4px;
}

.nearmeBtn,
.stateBtn {
  margin-left: 16px;
  background-color: #72612b;
  color: #f1faee;
}
.brandBtn {
  background-color: #72612b;
  color: #f1faee;
}
.brandBtn:hover,
.nearmeBtn:hover,
.stateBtn:hover {
  background-color: #967a1fbd;
  color: #f1faee;
  border-color: black;
}

.brandBtn:focus,
.nearmeBtn:focus,
.stateBtn:focus {
  background-color: #967a1fbd;
}

main {
  margin-bottom: 30px;
}
main,
aside {
  margin-top: 10px;
}

.footer {
  font-size: small;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: cornsilk;
  padding: 2rem;
  width: 100%;
  max-width: none;
  text-align: center;
  display: inline-block;
}
